<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="selectPaciente(paciente)" *ngFor="let paciente of pacientes; let i = index;">
            <td>{{i}}</td>
            <td>{{paciente?.nombre}}</td>
            <td>{{paciente?.apellidos}}</td>
            <td>{{paciente?.fecha_nacimiento | date:'shortDate'}}</td>
        </tr>
    </tbody>
</table>